<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Shop
        <span></span> Your Cart
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <% if (cartItems && cartItems.products.length>=0) { %>
          <form action="/checkout" method="post">
            <div class="table-responsive">
              <table class="table shopping-summery text-center clean">
                <thead>
                  <tr class="main-heading">
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (cartItems) { %>
                    <% cartItems?.products?.forEach((product, index)=> { %>
                      <tr>
                        <td class="image product-thumbnail"><a href="/product/<%= product.product._id %>">
                            <% if (product.product && product.product.images && product.product.images[0] &&
                              product.product.images[0].thumbnailUrl) { %>
                              <img src="<%= product.product.images[0].thumbnailUrl %>" alt="Thumbnail"
                                class="img-thumbnail" />
                              <% } else { %>
                                <!-- Handle the case where thumbnailUrl is not available -->
                                <img src="placeholder-thumbnail-url.jpg" alt="Placeholder" class="img-thumbnail" />
                                <% } %>
                          </a></td>

                        <td class="product-des product-name">
                          <a href="/product/<%= product.product._id %>">
                            <%= product.product.title %>
                          </a>
                          <% if (product.product.isDeleted) { %>
                            <p class="text-danger">Currently Unavailable</p>
                            <% } else if (product.product.quantity < product.quantity) { %>
                              <p class="text-danger">Out of Stock</p>
                              <% } %>
                        </td>

                        <td class="price" data-title="Price"><span>₹ </span> <span class="price">
                            <% const productPrice=parseFloat(product.product.salePrice) %>
                              <%= productPrice.toFixed(2) %>
                          </span></td>

                        <td class="text-center" data-title="Stock">
                          <div class="detail-qty border radius  m-auto">
                            <a href="javascript:void(0);" class="qty-down minusBtn" id="minusBtn"
                              data-product-id="<%= product.product._id %>"><i class="fi-rs-angle-small-down"></i></a>
                            <span class="qty-val" id="quantity_<%= product.product._id %>">
                              <%= product.quantity %>
                            </span>
                            <a href="javascript:void(0);" class="qty-up plusBtn" id="plusBtn"
                              data-product-id="<%= product.product._id %>"><i class="fi-rs-angle-small-up"></i></a>
                          </div>
                        </td>

                        <td class="text-right" data-title="Cart" id="totalProductPrice_<%= product.product._id %>">
                          <% if (product.product) { %>
                            <% const productTotal=parseFloat(product.product.salePrice); %>
                              <% const productQuantity=parseInt(product.quantity, 10); %>
                                <% const totalProductPrice=productTotal * productQuantity; %>
                                  <%= totalProductPrice.toFixed(2) %>
                                    <% } else { %>
                                      <!-- Handle the case where product information is not available -->
                                      ₹0.00 <% } %>

                        </td>
                        <td class="action" data-title="Remove"><a href="/remove/<%= product.product._id %>"
                            class="text-muted"><i class="fi-rs-trash"></i></a></td>
                      </tr>
                      <% }) %>
                        <% } %>


                </tbody>
              </table>
            </div>
            <div class="cart-action text-end">

              <a class="btn " href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
            </div>
            <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>


            

              <div class="row mb-50">
                <div class="col-lg-6 offset-lg-6 col-md-12">
                  <div class="border p-md-4 p-30 border-radius cart-totals">
                    <div class="heading_s1 mb-3">
                      <h4>Cart Totals</h4>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td class="cart_total_label">Cart Subtotal</td>
                            <td class="cart_total_amount"><span>₹ <span id="subtotal">
                                  <%= subtotal.toFixed(2) %>
                                </span></span></td>

                          </tr>

                          <tr>
                            <td class="cart_total_label">Total</td>
                            <td class="cart_total_amount"><strong><span>₹ <span id="cart-total">
                                    <%= total.toFixed(2) %>
                                  </span></span></strong></td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <% if (cartItems.products.some(product=> product.product.quantity < product.quantity ) ||
                        cartItems.products.some(product=> product.product.isDeleted)) { %>
                        <button class="button btn-secondary cursor-na" type="submit" disabled>
                          Proceed to checkout
                        </button>
                        <% } else { %>
                          <button id="checkoutBtn" class="btn">Proceed to checkout</button>
                          <% } %>

                  </div>
                </div>
              </div>
              

          </form>
          <% } else { %>

<div class="text-center">
  <p>No Items in the cart</p>
  <a href="/shop" class="btn btn-dark h-auto">Shop Now</a>
</div>
<% } %>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>

