<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">

                        </div>

                    </div>


                    <div class="row product-grid-3">
                        <% if (products.length>0) { %>

                            <% products.forEach(element=> { %>

                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">

                                            <% if (Array.isArray(element.images) && element.images.length> 0) { %>

                                                <div class="product-img product-img-zoom">

                                                    <a href="/products/<%=element?._id%>">
                                                        <img class="default-img" src="<%= element.images[0].imageUrl %>"
                                                            alt="ProductImage">
                                                        <img class="hover-img" src="<%= element.images[0].imageUrl %>"
                                                            alt="ProductImage">
                                                    </a>
                                                </div>
                                                <% }else { %>
                                                    <span> No images available</span>
                                                    <% } %>

                                                        

                                        </div>
                                        <div class="product-content-wrap">

                                            <h2><a href="/products/<%=element?._id%>">
                                                    <%=element.title%>
                                                </a></h2>
                                            
                                            <div class="product-price">


                                                <span><% if (element.productPrice !==element.salePrice) { %> 
                                                    ₹<%= (element.salePrice).toLocaleString() %>
                                                     <% } %></span>
                                                <span class="old-price"> ₹<%= (element.productPrice).toLocaleString() %>
                                                    <% if (element.productPrice !==element.salePrice) { %>
                                                    <% } %> </span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" onclick = "addToCart(`<%= element._id %>`)"><i
                                                        class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>

                                    <% } else { %>
                                        <h2>No Products found</h2>
                                        <% } %>

                    </div>


                    <!--pagination refer from original here deleted -->

                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <% if (currentPage> 1) { %>
                                    <li class="page-item active"><a class="page-link"
                                            href="?p=<%= parseInt(currentPage) - 1 %>"></a>
                                    </li>
                                    <% }  %> 
                                       
    
                                            <% for (let i=1; i <=totalPages; i++) { %>
                                                <li class="page-item<%= i === currentPage ? 'active' : '' %>">
                                                    <a class="page-link" href="?p=<%= i %>">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                                <% } %>
    
                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="page-item"><a class="page-link" href="?p=<%= parseInt(currentPage) + 1 %>">
                                                                <i class="ti-angle-right"></i></a>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="page-item"><a class="page-link"><i
                                                                        class="fi-rs-angle-double-small-right"></i></a>
                                                            </li>
                                                            <% } %>
    
                            </ul>
                        </nav>
                                  
                    </div>

                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form>
                                <input placeholder="Search Products..." type="text" id="search" name="search">
                                <button><i class="fas fa-search"></i></button>
                            </form>
                        </div>        
                    </div>

                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <% if (category.length>0) { %>
                                <% category.forEach(element=> { %>
                                    <li><a href="/shop?p=<%= currentPage %>&category=<%= element.categoryName %>" <%
                                            if (selectedCategory && selectedCategory.length>0) { %>
                                            class="<%= selectedCategory.includes(element._id) ? 'text-dark' : '' %>"
                                                <% } %>>
                                                    <%= element.categoryName %>
                                        </a></li>
                                    <% }); %>

                                        <% } else { %>
                                            <h3>NO CATEGORIES</h3>
                                            <% } %>
                        </ul>
                    </div>
                    <!-- Fillter By Price -->
                    <div class="sidebar-widget price_range range mb-30">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">Fill by price</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        <div class="price-filter">
                            <ul>
                                <li><a href="/shop">
                                        Default
                                    </a></li>
                                <li><a href="#" id="lowToHigh">
                                        Low to High
                                    </a></li>
                                <li><a href="#" id="highToLow">
                                        High to low
                                    </a></li>
                            </ul>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>

<script src="/assets/js/shop/cart.js"></script>
<script src="/assets/js/shop/shopping.js"></script>
